@model Readz.Models.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = $"Post - {Model.Post.PostTitle}";
}


<div class="container pt-5">
    <div class="post content">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1 class="text-secondary">@Model.Post.PostTitle</h1>
            </div>
            @*<div class="row">
                    <h4>Tag(s): </h4>
                    <ul></ul>
                </div>
            *@
            <div class="row">
            </div>

            @*Check for whether user has delete permissions(post was made by current user)*@

            @if (Model.Post.UserProfileId == Model.CurrentUserId)
            {
                <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn mx-1" title="Edit">
                    Edit
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Post.Id"
                   class="btn mx-1" title="Delete" onclick="return confirm(`Are you sure you want to delete this post?`);">
                    Delete
                </a>
                @*<a asp-controller="PostTag" asp-action="Create" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="PostTag">
                    Manage Tags
                </a>
                <a asp-controller="PostTag" asp-action="Delete" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="PostTag">
                    Delete Tags
                </a>*@
            }

        </section>
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.Post.BookCover))
        {
            <section class="row justify-content-center">
                <div>
                    <img src="@Model.Post.BookCover"/>
                    <h2>@Model.Post.BookTitle</h2>
                    <h3>By: @Model.Post.BookAuthor</h3>
                    <div>Synopsis: @Model.Post.BookSynopsis</div>
                </div>
            </section>
        }
        <section class="row justify-content-center">
            <h5>Review: @Model.Post.ReviewContent</h5>
        </section>
    </div>
    <a asp-action="Index">Back to List</a>
</div>

