@model Readz.Models.ViewModels.PostListViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container pt-5">
    <h1>Reviews:</h1>

    
        <a type="button" class="btn" asp-controller="Book" asp-action="Index">Create New Review</a>
    <br/>
    
    <table class="table content">
        <thead class="text">
            <tr>

                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post.PostTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post.BookTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post.BookAuthor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post.PublishedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post.UserProfileId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Posts)
            {
                <tr>

                    <td>
                        <img src="@item.BookCover" alt="BookCover" ) />
                    </td>
                    <td class="align-middle font-weight-bold">
                        @Html.DisplayFor(modelItem => item.PostTitle)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.BookTitle)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.BookAuthor)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.PublishedOn)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.UserProfile.UserName)
                    </td>
                    <td class="align-middle">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn" title="View">
                            Detail View
                        </a>
                        @*Conditional renders edit / delete if it is current user's post*@
                        @if (Model.UserId == item.UserProfileId)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn" title="Edit">
                                Edit
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id"
                               class="btn" title="Delete" onclick="return confirm(`Are you sure you want to delete this post?`);">
                              Delete
                            </a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
