@model IEnumerable<Readz.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Reviews:</h1>

<p>
    <button type="button" class="btn" asp-action="Create">Create New Review</button>
</p>
<table class="table content">
    <thead class="text">
        <tr>
           
            <th>
              
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserProfileId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                <img src="@item.BookCover" alt="BookCover") />
            </td>
            <td class="align-middle font-weight-bold" >
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.BookAuthor)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.PublishedOn)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.UserProfile.UserName)
            </td>
            <td class="align-middle">
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
