@model Readz.Models.ViewModels.PostListViewModel
@{ ViewData["Title"] = "Profile";}

<div>
    <h1 class="mb-4">@Model.User.UserName</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="@Model.User.ImageLocation." />
        <div>
            <label class="font-weight-bold">Email:</label>
            <span>@Model.User.Email</span>
        </div>

    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">My Posts</h1>

            <div class="row content">
                @foreach (Post post in Model.Posts)
                {
                    <div class="card m-4" style="width: 18rem;">

                        <img src="@post.BookCover" class="card-img-top" alt="BookCover" />

                        <div class="card-body">
                            <div>
                                <label class="font-weight-bold">Review Title:</label>
                                <span>@post.PostTitle</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Book Title</label>
                                <span>@post.BookTitle</span>
                            </div>

                        </div>
                        <a asp-action="Details" asp-route-id="@post.Id" class="btn" title="View">Details</a>
                        <a asp-action="Edit" asp-route-id="@post.Id" class="btn" title="Edit">Edit</a>
                        <a asp-action="Delete" asp-route-id="@post.Id" class="btn" title="Delete" 
                            onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
                        
                    </div>
                }
            </div>
        </section>
    </div>
</div>
